@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 0px;
    flex-shrink: 0;
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px black;
    padding: 16px;
}

a{
    text-decoration: none;
}

a:hover{
    color: green;
}
