@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    background-color:#D7F4EF;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main{
    padding: 16px;
    background-color:#FFFDF6 ;
}

footer{
    padding: 64px 0px;
    flex-shrink: 0;
    background-color:#C0EDE8 ;
}

img{
    height: 200px;
    border-radius: 20px;
}

nav{
    border-bottom: 1px black;
    padding: 16px;
}

a{
    text-decoration: none;
    color: pink;
}

a:hover{
    color: #ACD7F2;
}

.recipe{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
}

.ingredients tr:nth-child(even){
    background-color: pink;
}
